@import "vars"
@import "fonts"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
*
	box-sizing: border-box
html
	font-size: 10px

body
	font-size: 1.6rem
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	font-weight: 300
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
a
	color: #fff
	text-decoration: none
	transition: all .2s ease
	&:hover
		text-decoration: none
		color: $acc-light
img
	display: block
	max-width: 100%
	height: auto
	object-fit: cover
	object-position: center

b, strong
	font-weight: bold
ul
	list-style: none
	padding: 0
	margin: 0

.wrapper
	max-width: 1170px
	width: 100%
	margin: 0 auto
	padding: 0 15px

.logo
	display: block
	max-width: 360px

.mobile-btn
	width: 50px
	height: 50px
	background-color: transparent
	border: none
	cursor: pointer
	margin-right: -7.5px
	z-index: 2
	span
		width: 35px
		height: 3px
		background-color: #fff
		display: block
		margin: 3px auto
		transform: rotate(0)
		opacity: 1
		transition: all .1s ease-in-out
	&.active span
		&:first-child
			transform: rotate(45deg)
			position: relative
			top: 6px
		&:nth-child(2)
			opacity: 0
		&:last-child
			transform: rotate(-45deg)
			position: relative
			top: -6px

.header
	background-color: rgba(#000, .3)
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 80px
	z-index: 2
	transition: all .5s ease-in-out
	&__line
		width: 95vw
		height: 80px
		margin: 0 auto
		display: flex
		align-items: center
		justify-content: space-between
		&--right
			display: flex
			align-items: center
			button:not(.mobile-btn)
				width: 35px
				height: 35px
				background-color: transparent
				border: none
				cursor: pointer
				display: none
		&-login
			ul
				display: flex
				margin-right: 40px
				li
					margin: 0 10px
					a
						font-size: 1.8rem
	&__menu
		position: fixed
		top: 0
		right: -100%
		background-color: #000
		max-width: 320px
		width: 100%
		padding-top: 80px
		height: 100vh
		transition: all .1s ease-in-out
		&.active
			right: 0
		ul
			width: 100%
			li
				width: 100%
				transition: all .2s ease
				&.active, &:hover
					background-color: rgba($acc-light, .8)
					a
						color: #fff
				a
					display: block
					width: 100%
					height: 100%
					padding: 12px 0
					padding-left: 30px
					text-transform: uppercase
					font-weight: 500

.hero
	min-height: 565px
	background-size: cover
	background-position: center
	position: relative
	z-index: 1
	&:before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		background-color: rgba(#000, .66)
		z-index: -1
	&__slider
		width: 75vw
		height: 350px
		background-color: rgba(#fff, .23)
		position: absolute
		left: 0
		bottom: 70px
		display: flex
		align-items: center
	&__slide
		color: #fff
		padding-right: 30px
		&-quote
			font-size: 2.4rem
			font-style: italic
			opacity: .9
			text-shadow: 5px 5px 5px rgba(#000, .1)
			margin-bottom: 25px
			line-height: 1.5
		&-autor
			font-size: 1.8rem
			font-style: italic
			text-align: right
			opacity: .6


.slick-dots
	position: absolute
	display: flex
	align-items: center
	font-size: 0
	bottom: -40px
	left: 50vw
	transform: translateX(-50%)
	li
		&.slick-active
			button
				border-color: $acc-light
				background-color: $acc-light
		button
			width: 15px
			height: 15px
			border-radius: 50%
			background-color: transparent
			border: 2px solid #fff
			cursor: pointer
			margin: 0 5px
			outline: 0
			transition: all .2s ease
			&:hover
				border-color: $acc-light
				background-color: $acc-light
.btn
	text-transform: uppercase
	font-size: 1.8rem
	padding: 15px 40px
	font-weight: 300
	text-decoration: none
	&-block
		text-align: center
		margin-top: 30px
	&.primary-btn
		background: linear-gradient(to right, $acc-light 0%, $accent 100%)
		transition: all .1s
		position: relative
		z-index: 1
		display: inline-block
		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			margin: 2px
			background-color: transparent
			z-index: -1
			transition: all .2s
		&:hover
			color: $accent
			&:before
				background-color: #fff

section
	padding: 4.16vmax 0
	h2
		margin: 0
		line-height: 1

.my-grid
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	&__item
		width: 23%
		box-shadow: 0 0 40px rgba(#000, .3)
		transition: all .2s ease
		display: flex
		flex-direction: column
		margin-bottom: 3%
		&:hover
			box-shadow: 0 0 10px rgba(#000, .3)
		.img-block
			img
				height: 100%
		.text-block
			padding: 10px 12px
			font-size: 12px
			position: relative
			.small-descr
				overflow: hidden
		h2
			a
				font-size: 1.4rem
				color: $text
				font-weight: 600
				text-decoration: underline
				line-height: 1.4
				display: block
				&:hover
					text-decoration: none
	&.random
		.my-grid__item:nth-child(even)
			flex-direction: column-reverse


.post-info
	font-size: 12px
	font-weight: 500
	font-style: italic
	display: flex
	justify-content: space-between
	color: lighten($text, 30)
	img
		width: 15px
		margin-right: 5px
	&__preview
		display: flex
		align-items: center
	&__count
		position: absolute
		width: calc(100% - 30px)
		left: 15px
		bottom: 15px

.top-posts
	background-color: #efeded
