@import "vars"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
*
	box-sizing: border-box
html
	font-size: 10px
	height: 100%

body
	font-size: 1.6rem
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
	font-weight: 400
	color: $text
	display: flex
	flex-direction: column
	height: 100%
	input, textarea
		border: #666 1px solid
		outline: none
		// &:focus:required:invalid
		// 	border-color: red
		&:required:valid
			border-color: $accent
a
	color: $acc-light
	text-decoration: none
	transition: all .2s ease
	&:hover
		text-decoration: none
		color: $text
img
	display: block
	max-width: 100%
	height: auto
	object-fit: cover
	object-position: center

b, strong
	font-weight: bold
ul
	list-style: none
	padding: 0
	margin: 0

h1, h2, h3, h4, h5, h6
	font-family: $h-font

p
	margin-top: 0
	margin-bottom: 10px

.wrapper
	max-width: 1170px
	width: 100%
	margin: 0 auto
	padding: 0 15px

.logo
	display: block
	max-width: 360px

.mobile-btn
	width: 50px
	height: 50px
	background-color: transparent
	border: none
	cursor: pointer
	margin-right: -7.5px
	z-index: 2
	span
		width: 35px
		height: 3px
		background-color: #fff
		display: block
		margin: 3px auto
		transform: rotate(0)
		opacity: 1
		transition: all .1s ease-in-out
	&.active span
		&:first-child
			transform: rotate(45deg)
			position: relative
			top: 6px
		&:nth-child(2)
			opacity: 0
		&:last-child
			transform: rotate(-45deg)
			position: relative
			top: -6px

.header
	background-color: rgba(#000, .3)
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 80px
	z-index: 2
	transition: all .5s ease-in-out
	flex: 0 0 auto
	&__line
		width: 95vw
		height: 80px
		margin: 0 auto
		display: flex
		align-items: center
		justify-content: space-between
		&--right
			display: flex
			align-items: center
			button:not(.mobile-btn)
				width: 35px
				height: 35px
				background-color: transparent
				border: none
				cursor: pointer
				display: none
		&-login
			ul
				display: flex
				margin-right: 40px
				li
					margin: 0 10px
					a
						font-size: 1.8rem
						color: #fff
						&:hover
							color: $acc-light
	&__menu
		position: fixed
		top: 0
		right: -100%
		background-color: #000
		max-width: 320px
		width: 100%
		padding-top: 80px
		height: 100vh
		transition: all .1s ease-in-out
		&.active
			right: 0
		ul
			width: 100%
			li
				width: 100%
				transition: all .2s ease
				&.active, &:hover
					background-color: rgba($acc-light, .8)
					a
						color: #fff
				a
					display: block
					width: 100%
					height: 100%
					padding: 12px 0
					padding-left: 30px
					text-transform: uppercase
					font-weight: 500
					color: #fff

.isnohome
	.header
		background-color: #000

.hero
	min-height: 565px
	background-size: cover
	background-position: center
	position: relative
	z-index: 1
	&:before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		background-color: rgba(#000, .66)
		z-index: -1
	&__slider
		width: 75vw
		height: 350px
		background-color: rgba(#fff, .23)
		position: absolute
		left: 0
		bottom: 70px
		display: flex
		align-items: center
	&__slide
		color: #fff
		padding-right: 30px
		&-quote
			font-size: 2.4rem
			font-style: italic
			opacity: .9
			text-shadow: 5px 5px 5px rgba(#000, .1)
			margin-bottom: 25px
			line-height: 1.5
		&-autor
			font-size: 1.8rem
			font-style: italic
			text-align: right
			opacity: .6

.slick-arrow
	position: absolute
	top: 50%
	transform: translateY(-50%)
	width: 30px
	height: 30px
	padding: 0
	margin: 0
	z-index: 1
	cursor: pointer
	left: -20px
	background-color: transparent
	border: none
	opacity: .2
	transition: all .2s ease
	&:hover
		opacity: 1
.slick-next
	right: -20px
	left: auto
	transform: translateY(-50%) rotate(180deg) 

.slick-dots
	position: absolute
	display: flex
	align-items: center
	font-size: 0
	bottom: -40px
	left: 50vw
	transform: translateX(-50%)
	li
		&.slick-active
			button
				border-color: $acc-light
				background-color: $acc-light
		button
			width: 15px
			height: 15px
			border-radius: 50%
			background-color: transparent
			border: 2px solid #fff
			cursor: pointer
			margin: 0 5px
			outline: 0
			transition: all .2s ease
			&:hover
				border-color: $acc-light
				background-color: $acc-light
.btn
	text-transform: uppercase
	font-size: 1.8rem
	padding: 15px 40px
	font-weight: 300
	text-decoration: none
	color: #fff
	&.small-btn
		padding: 5px 30px
		text-transform: none
		text-align: center
	&-block
		text-align: center
		margin-top: 30px
	&.primary-btn
		background: linear-gradient(to right, $acc-light 0%, $accent 100%)
		transition: all .1s
		position: relative
		z-index: 1
		display: inline-block
		&:before
			content: ''
			display: block
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			margin: 2px
			background-color: transparent
			z-index: -1
			transition: all .2s
		&:hover
			color: $accent
			&:before
				background-color: #fff

main
	flex: 1 0 auto

section
	padding: 4.16vmax 0
	h2
		margin: 0
		line-height: 1
		font-size: 3.6rem
		font-weight: 600
		text-transform: uppercase
		text-align: center
		padding-bottom: 20px
		position: relative
		margin-bottom: 80px
		&:after
			content: ''
			display: block
			width: 100px
			height: 4px
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)
			background: linear-gradient(to right, $acc-light 0%, $accent 100%)

.my-grid
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	&__item
		width: 23%
		box-shadow: 0 0 40px rgba(#000, .3)
		transition: all .2s ease
		display: flex
		flex-direction: column
		margin-bottom: 3%
		&:hover
			box-shadow: 0 0 10px rgba(#000, .3)
		.img-block
			img
				height: 100%
		.text-block
			padding: 10px 12px
			font-size: 1.4rem
			font-weight: 400
			position: relative
			.small-descr
				overflow: hidden
				display: block
		h3
			a
				font-size: 1.4rem
				text-transform: uppercase
				color: $text
				font-weight: 700
				text-decoration: underline
				line-height: 1.4
				display: block
				&:hover
					text-decoration: none
		&.service
			.small-btn
				display: block
				width: 100%
				margin-bottom: 0
			h3
				text-transform: uppercase
			.service-price
				font-family: $h-font
				font-weight: bold
				display: block
				text-align: center
				margin: 5px 0 15px
				font-size: 2.5rem
			.img-block
				height: 150px
				background-size: cover
				background-position: center
	&.random
		.my-grid__item:nth-child(even)
			flex-direction: column-reverse


.post-info
	font-size: 12px
	font-weight: 500
	font-style: italic
	display: flex
	justify-content: space-between
	color: lighten($text, 30)
	img
		width: 15px
		margin-right: 5px
	&__preview
		display: flex
		align-items: center
	&__count
		position: absolute
		width: calc(100% - 30px)
		left: 15px
		bottom: 15px

.top-posts
	background-color: #efeded

.video
	&__block
		display: flex
		flex-wrap: wrap
		.video__item
			width: 33%
			margin-bottom: 3%
	&__slider
		.slick-dots li button
			border-color: $acc-light
	&__item
		position: relative
		a
			color: $accent
			background-size: cover
			background-position: center
			border: 4px solid transparent
			border-image-source: linear-gradient(to right, $acc-light 0, $accent 100%)
			border-width: 4px
			border-image-slice: 1
			display: flex
			align-items: center
			justify-content: center
			width: 90%
			height: 185px
			margin: 0 auto
			.play-button
				width: 55px
				height: 55px
				background-image: url(../img/icons/play.png)
				background-size: cover
				transition: all .2s ease
			&:hover
				.play-button
					background-image: url(../img/icons/play-light.png)
hr
	border: .5px solid #8d8d8d
	opacity: .1
	margin: 0
.footer
	background-color: #000
	padding-top: 50px
	color: #8d8d8d
	font-size: 1.4rem
	flex: 0 0 auto
	&-row
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&-col
		width: 25%
		padding-right: 30px
		padding-bottom: 25px
		&.no-pd
			padding-right: 0
		&__title
			font-size: 1.8rem
			font-weight: 500
			margin-bottom: 42px
			display: block
	&-menu
		li
			margin-bottom: 7px
			a
				color: #8d8d8d
				&:hover
					color: #fff
					text-decoration: underline
	&-logo
		margin-bottom: 35px
		display: block
		max-width: 80%
	&-bottom
		padding: 12px 0
		font-size: 12px
		text-align: center
		a
			color: $acc-light
			font-weight: 600
			opacity: .6
			&:hover
				text-decoration: underline
				opacity: 1
.tag-link
	background-color: rgba(#fff, .2)
	color: #8d8d8d
	padding: 0 6px
	margin-right: 4px
	border-radius: 2px
	font-weight: 500
	display: inline-block
	margin-bottom: 8px
	margin-left: 0
	&:hover
		background-color: $accent
		color: #fff
form.search
	position: relative
	button
		position: absolute
		width: 30px
		height: 30px
		top: 0
		right: 0
		z-index: 1
		opacity: .5
		background-color: transparent
		border: none
		transition: all .2s ease
		cursor: pointer
		&:hover
			opacity: 1
input
	border: 1px solid #000
	padding: 5px 10px
	width: 100%
	margin-bottom: 15px
	&:focus
		border-color: $acc-light

.page
	padding-top: 80px
	padding-bottom: 50px
	&-sidebar
		display: flex
		justify-content: space-between
		.page-content
			width: 75%
			position: relative
			padding-right: 40px
			&:after
				content: ''
				display: block
				height: 95%
				width: 1px
				background-color: #8d8d8d
				opacity: .2
				position: absolute
				top: 20px
				right: 0
	&-content
		&__thambnail
			img
				width: 100%
				height: 300px
				object-fit: cover
				object-position: center
				margin-top: 15px
				margin-bottom: 30px
		.my-grid
			margin-top: 50px
h1
	font-size: 3rem
	line-height: 1.2
	margin-bottom: 30px

.my-sidebar
	width: 25%
	min-height: 500px
	height: 100%
	padding: 30px 15px
	&__item
		font-weight: 500
		margin-bottom: 30px
		nav
			padding-left: 15px
		ul
		a
			color: $text
			font-size: 1.4rem
			font-weight: 400
			display: inline-block
			margin-bottom: 5px
			&:hover
				text-decoration: underline
				color: $acc-light
		.tag-link
			background-color: rgba(#000, .1)
			&:hover
				background-color: $accent
				color: #fff
				text-decoration: none
	h2
		font-size: 1.6rem
		font-weight: 600
		margin: 15px 0
		letter-spacing: 1.2px
		text-transform: uppercase
	.last-post
		a
			line-height: 1.4
			margin-bottom: 10px
			padding-bottom: 10px
			position: relative
			&:after
				content: ''
				display: block
				height: 1px
				width: 100%
				background-color: #8d8d8d
				opacity: .2
				position: absolute
				bottom: 0
				left: 0

.my-advertising-block
	width: 100%
	height: auto
	padding: 30px 15px
	min-height: 320px
	background-color: rgba($acc-light, .5)
	color: #fff
	position: relative
	display: flex
	align-items: center
	justify-content: center
	font-size: 1.4rem
	text-align: center
	line-height: 1.4
	a
		color: #fff
		position: absolute
		right: 15px
		bottom: 5px
		font-size: 1.2rem
		&:hover
			color: #fff
	&.full-width
		min-height: 50px
		height: auto
		margin: 30px 0
		padding: 15px

.category-posts
	h2
		margin-bottom: 5px

.about
	&-block
		display: flex
		justify-content: space-between
		margin-top: 30px
		.my-photo
			width: 340px
			height: 340px
			border-radius: 50%
			overflow: hidden
			background: linear-gradient(to right, $acc-light 0, $accent 100%)
			flex: 0 0 340px
			img
				width: 332px
				height: 332px
				border-radius: inherit
				overflow: hidden
				margin: 4px

		.about__me
			width: 65%

.services
	padding-top: 20px
	&-grid
		justify-content: flex-start
		.my-grid__item.service
			width: 23%
			margin-right: 2%
	&-bg
		height: 450px
		background-size: cover
		background-position: center
		margin-top: 80px

.form-modal
	max-width: 400px
	width: 100%
	height: auto
	padding: 25px 20px
	background-color: #fff
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	h3
		text-transform: uppercase
		text-align: center
	form
		input
			padding: 10px
		button
			border: none
			width: 100%
			text-align: center
			margin-top: 10px
			cursor: pointer
	small
		font-size: 1.2rem
		line-height: 1.4
		display: block
		margin-top: 20px

.investments
	&-block
	&__item
		display: flex
		box-shadow: 0 0 40px rgba(0,0,0,.16)
		margin-bottom: 30px
		transition: all .2s ease
		position: relative
		&:nth-child(even)
			flex-direction: row-reverse
			.investment-read
				right: auto
				left: 20px
		&:hover
			box-shadow: 0 0 10px rgba(0,0,0,.16)
		&-img
			width: 300px
			height: 300px
			background-size: cover
			background-position: center
			flex: 0 0 300px
		&-info
			padding: 25px 20px
		h2
			margin-top: 0
			a
				color: $text
				&:hover
					text-decoration: underline
		.investment-read
			position: absolute
			right: 20px
			bottom: 20px