@import "vars"

@media (max-width: 1200px)
	.my-grid__item h3
		margin: 10px 0
		a
			font-size: 1.2rem
	.my-grid__item .text-block .small-descr
		font-size: 1.1rem
		line-height: 1.4
	.my-grid__item.service .text-block .small-descr
		font-size: 1.4rem
		line-height: inherit
	.investments__item-info
		padding-top: 10px


@media (max-width: 992px)
	.my-grid__item
		width: 30%
		margin: 0 1.5% 3%
	.services-grid .my-grid__item.service
		width: 31%
		margin-right: 2%
		margin-left: 0
		margin-bottom: 2%
	.my-grid
		justify-content: center
	.my-grid.services-grid
		justify-content: flex-start
	.footer
		font-size: 1.2rem
	.footer-logo
		margin-bottom: 20px
	.footer-col__title
		font-size: 1.6rem
		margin-bottom: 19px
	.footer-col
		padding-right: 15px
	.page-sidebar .page-content
		width: 70%
		padding-right: 15px
	.my-sidebar
		width: 30%
	h1
		font-size: 2.5rem
	.about
		padding-bottom: 0
		h1
			text-align: center
	.about-block
		flex-direction: column
		justify-content: center
		align-items: center
	.about-block .my-photo
		margin-bottom: 25px
	.about-block .about__me
		width: 100%


@media (max-width: 768px)
	.services-bg
		height: 250px
	.header__line-login
		position: fixed
		top: 80px
		right: -320px
		background-color: #000
		max-width: 320px
		width: 100%
		transition: all .1s ease-in-out
		z-index: -1
		&.active
			right: 0
	.header__line-login ul
		margin-right: 0
		flex-direction: column
	.header__line-login ul li
		margin: 0
		transition: all .2s ease
		&:hover
			background-color: rgba($acc-light, .8)
			a
				color: #fff
		a
			display: block
			width: 100%
			height: 100%
			padding: 12px 0
			padding-left: 30px
			text-transform: uppercase
			font-weight: 500
	.header__line--right button:not(.mobile-btn)
		display: block
	.my-grid__item
		width: 48%
		margin: 0 0 4%
	.my-grid
		justify-content: space-between
	.my-grid__item h3 a
		font-size: 1.4rem
	.my-grid__item .text-block .small-descr
		font-size: 1.4rem
	.header__line
		width: 100%
		padding: 0 15px
	.slick-slider
		margin-bottom: 40px
	.video__item a
		width: 100%
		height: 165px
	.footer-col
		width: 48%
		padding-right: 0
	h1
		font-size: 2rem
	.page-sidebar .page-content
		width: 60%
	.my-sidebar
		width: 40%
	.services-grid .my-grid__item.service
		width: 48%
	.investments__item, .investments__item:nth-child(even)
		flex-direction: column
	.investments__item-img
		width: 100%
	.investments__item:nth-child(even) .investment-read
		left: auto
		right: 20px


@media (max-width: 580px)
	html
		font-size: 8px
	.header
		background-color: #000
		&__menu
			max-width: 100%
	.logo
		max-width: 55vw
	.header__line-login
		max-width: 100%
		right: -100%
	.hero
		min-height: 100vh
		&__slider
			width: 100%
			height: 330px
			bottom: auto
			top: 80px
	.slick-dots
		bottom: 15px
	.my-grid.random .my-grid__item:nth-child(even)
		flex-direction: column
	.my-grid__item
		width: 100%
		margin-bottom: 15px
		.img-block
			max-height: 320px
			a
				height: 100%
				img
					max-height: 320px
					width: 100%
	.my-grid__item .text-block
		padding-bottom: 50px
	.services-grid .my-grid__item.service .text-block
		padding-bottom: 12px
	section h2
		margin-bottom: 40px
		margin-top: 15px
		font-size: 2.8rem
	.btn-block
		margin-top: 20px
		a
			width: 100%
			text-align: center
	.footer-col
		width: 100%
		padding-bottom: 15px
	.footer-col__title
		margin-bottom: 10px
	.footer-logo
		max-width: 60%
	.page-sidebar
		flex-direction: column
	.page-sidebar .page-content
		width: 100%
		padding-right: 0
		&:after
			display: none
	.my-sidebar
		width: 100%
		padding-right: 0
		padding-left: 0
		padding-bottom: 0
	.my-advertising-block
		min-height: 50px
		height: auto
	h1
		margin-bottom: 20px
	.page
		padding-bottom: 35px
	h1
		font-size: 3rem
	.about
		padding-bottom: 0
	.about-block .my-photo
		width: 280px
		height: 280px
		flex: auto
		img
			width: 272px
			height: 272px
	.services-grid .my-grid__item.service
		width: 100%
		margin-right: 0
		margin-bottom: 20px
	.advertising-item
		margin-right: 0
		width: 100% !important
		